---
import Five from "../components/Five.astro";
import Four from "../components/Four.astro";
import One from "../components/One.astro";
import Six from "../components/Six.astro";
import Three from "../components/Three.astro";
import Two from "../components/Two.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<One />
		<Two />
		<Three />
		<Four />
		<Five />
		<Six />
	</main>
</Layout>

<style>
	main {
		display: grid;
		grid-template-columns: 1fr;
		gap: 21px;
	}

	@media (min-width: 768px) {
		main {
			grid-template-columns: repeat(5, 1fr);
		}
	}
</style>

<style is:global>
	.box {
		border: 1px dashed var(--text);
		border-radius: 21px;
		padding: 21px;
		overflow: hidden;
	}

	@media (min-width: 768px) {
		.box {
			min-height: 233px;
		}

		main > :nth-child(3) {
			grid-column: 1 / span 2;
		}

		main > :nth-child(4) {
			grid-column: 3 / span 3;
			grid-row: 1 / span 2;
		}

		main > :nth-child(6) {
			grid-column: span 2;
		}
	}
</style>
