---
import Eight from "../components/Eight.astro";
import Five from "../components/Five.astro";
import Four from "../components/Four.astro";
import One from "../components/One.astro";
import Seven from "../components/Seven.astro";
import Six from "../components/Six.astro";
import Three from "../components/Three.astro";
import Two from "../components/Two.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<h1>Mattdlgado components page</h1>
	<main>
		<One />
		<Two />
		<Three />
		<Four />
		<Five />
		<Six />
		<Seven />
		<Eight />
	</main>
</Layout>

<style>
	main {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--base);
	}

	@media (min-width: 960px) {
		main {
			grid-template-columns: repeat(5, 1fr);
		}
	}
</style>

<style is:global>
	.box {
		border: 1px dashed var(--text);
		border-radius: var(--base);
		padding: var(--base);
		overflow: hidden;
	}

	@media (min-width: 960px) {
		main > :nth-child(3) {
			grid-column: 1 / span 2;
		}

		main > :nth-child(4) {
			grid-column: 3 / span 3;
			grid-row: 1 / span 2;
		}

		main > :nth-child(5) {
			grid-row: span 2;
		}

		main > :nth-child(6) {
			grid-column: span 2;
			grid-row: span 2;
		}

		main > :nth-child(8) {
			grid-column: 4;
		}
	}
</style>
