<div class="box">
    <span class="badge outline">Everything</span>
    <span class="badge outline">is</span>
    <span class="badge">designed</span>
    <span class="badge outline">Few</span>
    <span class="badge outline">things</span>
    <span class="badge outline">are</span>
    <span class="badge outline">designed</span>
    <span class="badge">well</span>
    <span class="badge outline">- Brian</span>
    <span class="badge outline">Reed</span>
</div>

<style>
    div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
</style>
