<div class="box">
    <span>Everything</span>
    <span>is</span>
    <span>designed.</span>
    <span>Few</span>
    <span>things</span>
    <span>are</span>
    <span>designed</span>
    <span>well.</span>
    <span>- Brian</span>
    <span>Reed</span>
</div>

<style>
    div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 3px;
    }

    span {
        border: 1px solid var(--text);
        border-radius: 99px;
        padding-inline: 8px;
        font-size: 0.9em;
        display: inline-flex;
    }
</style>
