<div class="box">
    <img
        src="https://images.unsplash.com/photo-1695196312518-b1223a8298b5?q=80&w=4287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt=""
        loading="lazy"
        height="610"
        width="987"
    />
</div>

<style>
    div {
        padding: 0;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        aspect-ratio: 16 / 9;
    }
</style>
