<div class="box">
    <h2>Version</h2>
    <span>01</span>
</div>

<style>
    div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        text-align: right;
        line-height: 1;
    }

    h2 {
        margin: 0;
        align-self: flex-start;
        font-size: 1em;
        font-weight: 400;
        color: var(--al);
        text-transform: uppercase;
    }

    span {
        font-size: 144px;
        font-weight: 700;
        transform: translateY(8px);
    }
</style>
