---
import Robot from "../icons/Robot.astro";
---

<div class="box">
    <span>
        <Robot size={40} />
    </span>
</div>

<style>
    div {
        background-color: var(--text);
        color: var(--bg);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    span {
        display: flex;
        border-radius: 50%;
        padding: 8px;
        cursor: pointer;
        transition:
            250ms box-shadow ease-in-out;
    }

    span:hover {
        box-shadow:
            3px 3px 13px var(--sd),
            -3px -3px 8px var(--sl);
    }
</style>
