<div class="box">
    <span>Data 2</span>
    <hr>
    <p>50.034 - 201</p>
    <p>605.652 - 4.399</p>
    <p>75.034 - 657</p>
</div>

<style>
    div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    span {
        background-color: var(--text);
        color: var(--bg);
        font-size: 0.9em;
        padding-inline: 8px;
        border-radius: 99px;
        display: inline-flex;
    }

    hr {
        width: 100%;
        margin-block-start: auto;
        border-top-style: solid;
        color: var(--al);
    }

    p {
        margin: 0;
    }
</style>
