<div class="box">
    <span>Data</span>
    <p>Views and downloads: 50.034 - 201 / 60.3399 - 4.399</p>
</div>

<style>
    div {
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: flex-start;
    }

    span {
        background-color: var(--text);
        color: var(--bg);
        font-size: 0.9em;
        padding-inline: 8px;
        border-radius: 99px;
    }

    p {
        margin: 0;
    }
</style>
